*.exe
*.csv
*/dataset/*
*/val_dataset/*
*/val_images/*
*/Val_Pokemon_data/*
*/Pokemon_data/*
*.bat
share/*
dataset/*
*.ipynb_checkpoints*
*Untitled*
__pycache__/
*.fish
*.nu
activate
pywin32_postinstall.py
pywin32_testall.py
activate_this.py
*.ps1
*.png
*.jpg
*/ml-100k/*
*/Images/*
*.zip
*.pkl
*/glove.6B.50d.txt
*.mid
*/midi_songs/*
